body {
  padding-top: 20pt;
  padding-bottom: 30px;
}

#flash_wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1em;
    margin: 0px auto;
    z-index: 999;
}

.table {
    font-size: 16px;
}

#qr-code-wrap {
    margin-top: 2em;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.control-label {
    color: lighten($gray-light, 5%);
}

.form-control {
    border-bottom: 1px solid lighten($gray-light, 5%);
    box-shadow: none;
}


input, select {
    font-family: "monospace";
}

input[type="file"].file-input {
    display: none;
}
.document-file-upload {
    border-color: transparent;
    color: #fff;
    background-color: #DF691A;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}