body {
  padding-top: 20pt;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.control-label {
    color: lighten($gray-light, 5%);
}

h1 {
    margin-bottom: 2em;    
}

.form-control {
    border-bottom: 1px solid lighten($gray-light, 5%);
    box-shadow: none;
}


input, select {
    font-family: "monospace";
}

input[type="file"].image-input {
    display: none;
}
.image-file-upload {
    border-color: transparent;
    color: #fff;
    background-color: #DF691A;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}